* {
	margin: 0;
	padding: 0;
}
html,
body {
	overflow: hidden;
	background-color: black;
}

.html-preview-overlay {
	width: 100vw;
	height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

framesetcontroller {
	width: 100vw;
	height: 20vh;
	position: absolute;
	z-index: 1000;
}
framesetcontroller .url-src,
framesetcontroller .html-src {
	width: 100%;
	font-size: 20px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: white;
	outline: solid 0.5px lightgrey;
}
framesetcontroller .url-src {
	height: 25%;
}
framesetcontroller .html-src {
	height: 75%;
}

framesetcontroller #btnAdd,
framesetcontroller #btnRemove {
	width: 50%;
	border: 0;
	margin: 0;
	padding: 0;
	height: 50px;
	font-size: 25px;
}
framesetcontroller #btnAdd {
	background-color: lightgreen;
	color: black;
}
framesetcontroller #btnRemove {
	background-color: rgb(253, 104, 104);
	color: black;
}

framesetcontainer {
	width: 100vw;
	height: 100vh;
	display: inline-block;
}

iframe {
	width: 100vw;
	height: 100vh;
	border: 0;
	margin: 0;
	padding: 0;
	visibility: hidden;
	display: none;
}
iframe.active {
	visibility: visible;
	display: block;
}

.hide {
	visibility: hidden;
	display: none;
}
.show {
	visibility: visible;
	display: block;
}

@media screen and (orientation: landscape) {
	body {
		background-color: teal;
	}
	.html-preview-overlay,
	framesetcontainer,
	iframe {
		width: 100vmin;
		height: 100vmin;
	}
}
